.orangered{

    color: orangered;
}
body{
    font-family: 'Bree Serif', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 10%;
}
.half-width p{
    text-align: justify;
}
.half-width h3{
    padding-bottom: 3%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
}
.top-banner{
    background-image: url(picture/images/top-banner.png);
    background-repeat: no-repeat;
}