.orangered{

    color: orangered;
}
body{
    font-family: 'Bree Serif', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 10%;
}
.half-width p{
    text-align: justify;
}
.half-width h3{
    padding-bottom: 3%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
}
.top-banner{
    background-image: url(picture/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(picture/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.part-two{
    width: 50%;
    padding-right: 10%;
    
}
.part-two img{
    width: 80%;
    padding-right: 5%;
    
}
.part-two p{
    text-align: justify;
}
.part-two h1{
    color: tomato;
}
.part-two h4{
    color: coral;
}
.color{
    color: tomato;
    padding-left: 5%;
    

}.custom-div{
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    border-left: 10px solid;

}
.experience-part{
    background-image: url(picture/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 10px 180px;
    background-attachment: scroll;
    
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;

}
#front-end{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    color: red;
}